.summary {
  margin: 2em auto;
  width: 70%;
  min-height: 100px;
  padding: 20px;
}
.menu-container {
  max-width: 700px;
  width: 50vw;
  min-width: 400px;
  max-height: 90%;
  overflow: auto;
  // padding: 2rem;
  margin: 0 auto;
  position: relative;
  top: 5%;
}
.menu-panel {
  height: calc(100% - 50px);
}
.menu-frame {
  height: 100%;
  overflow: auto;
}
.meals-menu {
  padding: 1em;
  margin: 0;
}
.meal-quantity-control {
  padding: 1em;
  margin: 0 auto;
}
.meals-info {
  width: 70%;
  padding-left: 1em;
  &__heading {
    display: flex;
    flex-direction: column;
  }
  &__body {
    // background-color: skyblue;
  }
}
.mealList {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin-bottom: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  &:last-child {
    border: none;
  }
}
.mealsLoader {
  text-align: center;
  font-size: 2rem;
}
.mealsError {
  text-align: center;
}

.amount-form {
  display: flex;
  align-items: center;
  zoom: 0.85;
  padding: 1em 0;
}

.menu-thumbnail {
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  &__dialog {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.menu-dialog__details--root {
  // width: 50%;
  // min-width: 300px;
  // background-color: salmon;
}
.menu-dialog__details--body {
  width: 50%;
  min-width: 300px;
  max-width: 500px !important; //overide MUI style
  .meals-info {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    &__heading {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      // padding: 1em;
    }
    &__body {
      // background-color: skyblue;
    }
  }
}
