.summary {
  margin: 2em auto;
  width: 70%;
  min-height: 100px;
  padding: 20px;
}
.menu-container {
  max-width: 700px;
  width: 50vw;
  min-width: 400px;
  max-height: 90%;
  overflow: auto;
  // padding: 2rem;
  margin: 0 auto;
  position: relative;
  top: 5%;
}
.menu-panel {
  height: calc(100% - 50px);
}
.menu-frame {
  height: 100%;
  overflow: auto;
}
.meals-menu {
  padding: 1em;
  margin: 0;
}
.mealList {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin-bottom: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  &:last-child {
    border: none;
  }
}
.mealsLoader {
  text-align: center;
  font-size: 2rem;
}
.mealsError {
  text-align: center;
}

.amount-form {
  display: flex;
  align-items: center;
  zoom: 0.85;
  padding: 1em 0;
}

.menu-thumbnail {
  width: 100px;
  min-width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}