$bgColor-paper: #ebf5d14f;

.main-bg {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

[class^="side-bg"] {
  height: 80%;
  max-width: 50%;
}

main {
  // position: relative;
  position: absolute;
  width: 100%;
  height: calc(100% - 64px);
  top: 64px;
  margin: 0;
  padding: 0;
  background-color: $bgColor-paper;
  // overflow: auto;
}

.app-header {
  position: relative;
  height: 30px;
}
